#logo {
    margin-left: 2cm;
}
li {
    float: right;
    border-right: 10px white;
}
li:last-child {
    border-right: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    position: fixed;
    top: 0.3cm;
    width: 98%;
}
li a {
    display: block;
    color: darkgray;
    padding: 10px 10px;
    text-align: center;
    background-color: none;
    text-decoration: double;
}
li a:hover {
    background-color: brown;
}
div.gallery img {
    float: right;
    margin: 50px;
    border-radius: 100px;
}
#home {
    overflow: auto;
    background-color: antiquewhite;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#info{
    float: left;
    width: 70%;
    margin-bottom: 4cm;
}
#info h1 {
    margin-left: 4cm;
    font-size: 60px;
}
#info h3 {
    margin-left: 4cm;
    font-size: 30px;
}
#info button {
    background-color: #75474a;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20cm;
    margin-top: 0cm;
}
